<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">

                <div class="card-body">
                    <div class="row">
                        <div class="col">

                                <center>
                              
                                <img height="100" width="100" src="~/img/usricon.png"/>
                            
                                </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <center>
                                <h5>User Details</h5>
                             
                            </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <hr />
                        </div>
                    </div>

                    <form>
                        <!--Row 1-->

                        <div id="row" class="row">

                            <div class="col-md-6">
                                <label for="userName" class="form-label">User Name</label>
                                <div class="form-group">
                                    <div class="input-group">

                                        <input type="text" class="form-control" placeholder="User Name" id="username">
                                        <button type="submit" class="btn-dark" width="70">Search</button>

                                    </div>

                                </div>

                            </div>

                            <div class="col-md-6">
                                <div>
                                    <label for="userName" class="form-label">Full Name</label>
                                    <input type="text" class="form-control" placeholder="Full Name" id="userName" readonly/>
                                </div>
                            </div>

                        </div>

                        <!--row 2-->

                        <div id="row" class="row">
                            <div class="col-md-4">
                                <div>
                                    <label for="emailId" class="form-label">Email</label>
                                    <input type="email" class="form-control" placeholder="Email" id="emailId" readonly />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="number" class="form-label">Mobile Number</label>
                                <input type="tel" class="form-control" placeholder="Mobile Number" id="number" readonly>
                            </div>
                            
                            <div class="col-md-4">
                                <label for="birthDate" class="form-label">Birth Date</label>
                                <input type="date" class="form-control" placeholder="" id="birthDate" readonly>
                            </div>


                        </div>
                        
                        <!--row 3-->

                        <div id="row" class="row">
                            <div class="col-md-4">
                                <div>
                                    <label for="text" class="form-label">State</label>
                                    <input type="text" class="form-control" placeholder="State" id="text" readonly />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="text" class="form-label">City</label>
                                <input type="text" class="form-control" placeholder="City" id="city" readonly>
                            </div>

                            <div class="col-md-4">
                                <label for="number" class="form-label">Postal Code</label>
                                <input type="number" class="form-control" placeholder="Postal Code" id="number" readonly>
                            </div>


                        </div>

                        <!--row 4-->
                        <div class="row">

                            <div class="col-md-12  container-fluid" id="butt">
                                <button type="submit" class="btn-danger btn-group-lg">Delete User</button>
                            </div>

                        </div>
                    </form>


                </div>
            </div>

        </div>

        <!--Column 2-->
        <div class="col-md-6">
            <div class="card">

                <div class="card-body">

                    <div class="row">
                        <div class="col">
                            <center>
                                <img height="100" width="100" src="~/img/userlist.png"/>
                                <h5>User List</h5>
                            </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <hr />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <asp:GridView class="table table-bordered"> </asp:GridView>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>