<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">

                <div class="card-body">
                    <div class="row">
                        <div class="col">

                            <center>
                                <img height="100" width="100" src="~/img/publsihericon.ico" />
                            </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <center>
                                <h5>Publisher</h5>
                                <!--
                                        <span>Profile Status - </span>
                                    <label asp-for="Your" class="badge badge-pill badge-info" id="vrfLabel"> </label>
                                -->
                            </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <hr />
                        </div>
                    </div>

                    <form>
                        <!--Row 1-->

                        <div id="row" class="row">
                            <div class="col-md-7">
                                <div>
                                    <label for="publisherName" class="form-label">Publisher Name</label>
                                    <input type="text" class="form-control" placeholder="Publisher Name" id="publisherName" />
                                </div>
                            </div>

                            <div class="col-md-5">
                                <label for="publisherID" class="form-label">Publisher ID</label>
                                <div class="form-group">
                                    <div class="input-group">

                                        <input type="text" class="form-control" placeholder="Publisher ID" id="publisherID">
                                        <button type="submit" class="btn-dark" width="70">Search</button>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-4" id="butt">
                                <button type="submit" class="btn-success">Add</button>
                            </div>

                            <div class="col-md-4" id="butt">
                                <button type="submit" class="btn-warning">Update</button>
                            </div>

                            <div class="col-md-4" id="butt">
                                <button type="submit" class="btn-danger">Delete</button>
                            </div>

                        </div>
                    </form>


                </div>
            </div>

        </div>

        <!--Column 2-->
        <div class="col-md-6">
            <div class="card">

                <div class="card-body">

                    <div class="row">
                        <div class="col">
                            <center>
                                <h5>Publisher Detail</h5>
                                <!--
                                        <span>Profile Status - </span>
                                    <label asp-for="Your" class="badge badge-pill badge-info" id="vrfLabel"> </label>
                                -->
                            </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <hr />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <asp:GridView class="table table-bordered"> </asp:GridView>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>