
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">

                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <center>
                                <img height="100" width="100" src="~/img/usricon.png" />
                            </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <center>
                                <h4>Log In</h4>
                            </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <hr />
                        </div>
                    </div>

                    <div>
                        <form>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">User Name</label>
                                <input type="text" class="form-control" placeholder="User Name" id="exampleInputText">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" placeholder="Password" id="exampleInputPassword1">
                            </div>

                            <button type="submit" class="btn-success" asp-controller="" asp-action="">Log In</button>
                            <button type="submit" class="btn-primary" asp-controller="User" asp-action="SignUp">Sign Up</button>
                        </form>
                    </div>

                </div>
            </div>
            <a class="nav-link text-black" asp-area="" asp-controller="Admin" asp-action="Index">Admin Log In</a>
        </div>

    </div>
</div>