@model User
<div class="container - fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">

                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <center>
                                <img height="100" width="100" src="~/img/usricon.png" />
                            </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <center>
                                <h5>Profile</h5>

                            </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <hr />
                        </div>
                    </div>

                    <form>
                        <!--Row 1-->

                        <div id="row" class="row">
                            <div class="col-md-6">
                                <div>
                                    <label asp-for="FullName">Full Name</label>
                                    <input asp-for="FullName" class="form-control" placeholder="Full Name" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <br/>
                                <div>

                                    <a asp-controller="User" asp-action="UserIndex" class="btn btn-primary" style="width: 200px">
                                        Search
                                    </a>
                                </div>
                            </div>


                        </div>


                        <!--Row 2-->
                        <div id="row" class="row">
                            <div class="col-md-6">
                                <div>
                                    <label asp-for="Email">Email Address</label>
                                    <input asp-for="Email" class="form-control" placeholder="Email Address" />
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div>
                                    <label asp-for="MobilePhone">Phone Number</label>
                                    <input asp-for="MobilePhone" class="form-control" placeholder="Phone Number" />
                                </div>
                            </div>


                        </div>


                        <!--Row 3-->
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    <label asp-for="City">City</label>
                                    <input asp-for="City" class="form-control" placeholder="City" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div>
                                    <label asp-for="State">State</label>
                                    <input asp-for="State" class="form-control" placeholder="State" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div>
                                    <label asp-for="PostalCode">Postal Code</label>
                                    <input asp-for="PostalCode" class="form-control" placeholder="Postal Code" />
                                </div>
                            </div>

                        </div>

                        <br />
                        <!--Row 5-->
                        <div id="row" class="row">
                            <div class="col-md-4">
                                <div>
                                    <label asp-for="UserName">User Name</label>
                                    <input asp-for="UserName" class="form-control" placeholder="User Name" readonly />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div>
                                    <label asp-for="Password">Current Password</label>
                                    <input asp-for="Password" class="form-control" placeholder="Current Password" readonly />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div>
                                    <label asp-for="Password">New Password</label>
                                    <input asp-for="Password" class="form-control" placeholder="New Password" />
                                </div>
                            </div>


                        </div>

                        <div class="row">

                            <div class="col">
                                <a asp-controller="User" asp-action="UserIndex" class="btn btn-success" style="width: 150px">
                                    Update
                                </a>
                            </div>

                        </div>
                    </form>


                </div>
            </div>

        </div>

        <!--Column 2-->
        <div class="col-md-6">
            <div class="card">

                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <center>

                                <img height="100" width="100" src="~/img/bookicon.png" />
                            </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <center>
                                <h5>Book list</h5>
                            </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <hr />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <asp:GridView class="table table-bordered"> </asp:GridView>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>