@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">

                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <center>
                                <img height="100" width="100" src="~/img/usricon.png" />
                            </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <center>
                                <h4>Sign Up</h4>
                            </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <hr />
                        </div>
                    </div>

                    <form>
                        <!--Row 1-->

                        <div id="row"  class="row">
                            <div class="col-md-6">
                                <div>
                                    <label for="exampleInputText" class="form-label">Full Name</label>
                                    <input type="text" class="form-control" placeholder="Full Name" id="exampleInputText">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div>
                                    <label for="exampleInputDate" class="form-label">Birth Date</label>
                                    <input type="date" class="form-control" placeholder="Birth Date" id="exampleInputDate">
                                </div>
                            </div>

                        </div>


                        <!--Row 2-->
                        <div id ="row" class="row">
                            <div class="col-md-6">
                                <div>
                                    <label for="exampleInputNumber" class="form-label">Mobile Number</label>
                                    <input type="number" class="form-control" placeholder="mobile number" id="exampleInputNumber">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div>
                                    <label for="exampleInputEmail" class="form-label">Email Address</label>
                                    <input type="email" class="form-control" placeholder="email address" id="exampleInputEmail">
                                </div>
                            </div>

                        </div>


                        <!--Row 3-->
                        <div id ="row" class="row">
                            <div class="col-md-4">
                                <div>
                                    <label for="State" class="form-label"> State</label>
                                  
                                    <select name="cars" id="cars">
                                      <option value="volvo">Volvo</option>
                                      <option value="saab">Saab</option>
                                      <option value="mercedes">Mercedes</option>
                                      <option value="audi">Audi</option>
                                    </select>
                 
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div>
                                    <label for="exampleInputEmail" class="form-label">Email Address</label>
                                    <input type="email" class="form-control" placeholder="email address" id="exampleInputEmail">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div>
                                    <label for="exampleInputEmail" class="form-label">Email Address</label>
                                    <input type="email" class="form-control" placeholder="email address" id="exampleInputEmail">
                                </div>
                            </div>

                        </div>

                        <div class="carousel-control-next-icon">
                            <div class="col-md-6">
                                <button type="submit" class="btn-success">Register</button>
                            </div>
                          
                        </div>
                    </form>

                    
                </div>
            </div>
    
        </div>

    </div>
</div>