@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "About";
}
<br />
<center>
    <center>
        <h4>About Us</h4>
    </center>

    <br />
    <div class="col-md-8">
        <p>The online management library is a web application that allows users to manage a virtual library. It was built using ASP.NET Core MVC, C#, and the Entity Framework. The library allows users to add, delete, and update both books and user accounts. The user interface is built using Bootstrap, which provides a clean and modern design. With this library, users can easily keep track of their books and user accounts, making it a useful tool for managing a virtual library.</p>
    </div>
</center>

